# 숫자형 종류

In [1]:
#정수integer
a=123
a=-178
a=0

In [2]:
a

0

In [3]:
a =1.2

In [6]:
#실수float
a=3.45
print(a)

3.45

In [7]:
a= 4.4E10

In [11]:
a=4.24e-10

In [12]:
a

4.24e-10

In [13]:
#8진수
a =0o177
print(a)

127

In [15]:
a=0x8ff
b=0xABC
print(b)

2748

In [4]:
c=0o785
print(c)

SyntaxError: invalid digit '8' in octal literal (1805775664.py, line 1)

# 사칙연산

In [6]:
#덧셈 뺄셈
a=3
b=4
print(a+b)
print(a-b)

7
-1

In [11]:
#곱셈
print(a*b)
print(a**b) # x의 y제곱

12
81

In [12]:
#나누기
print(a/b) #몫(소수점 까지)
print(a//b) #몫(정수 몫만)
print(a%b) #나머지

0.75
3

In [14]:
print(7%3)
print(7/3)
print(7//3)

1
2.3333333333333335
2

# 문자열 자료형

##### 문자열(string) 문자나 단어로 구성된 것   -> 따옴표로 되어있으면 문자열

"Life is is too short"   
"a"   
"123"

문자열 자료형 python은 대소문자 구분한다.

In [17]:
'hello world'

'hello world'

In [20]:
'   hello world   '

'   hello world   '

In [21]:
"hello world"

'hello world'

In [22]:
"""hello world"""

'hello world'

### 문자열 안에 작은따옴표나 큰따옴표를 포함시키고 싶을 때

In [26]:
 'python's favorite food is perl'

SyntaxError: unterminated string literal (detected at line 1) (2662772729.py, line 1)

In [25]:
 "python's favorite food is perl" #쌍따옴표로 묶어줘야함

"python's favorite food is perl"

In [15]:
'"Python is very easy." he says.'

'"Python is very easy." he says.'

In [29]:
'Python\'s favorite food is perl'

"Python's favorite food is perl"

In [32]:
"\"Python is very easy.\" he says."

'"Python is very easy." he says.'

In [1]:
"Life is too short \n You need python"

'Life is too short \n You need python'

## 줄을 바꾸기 위한 \n 삽입

In [17]:
multiline = 'life is too short \n You need python'

In [18]:
print(multiline)

life is too short
 You need python

In [11]:
# \n 말고 ''' ~ ''' """ ~ """ 이것도 가능
multiline='''
Life is too short
You need python
'''

In [21]:
print(multiline)

life is too short
 You need python

In [20]:
multiline1="""
Life is too short
You need python
"""

In [22]:
print(multiline1)

Life is too short
You need python

## 문자열 연산하기

In [15]:
# 문자열 더하기
head = 'python'
tail= ' is fun!'
head + tail

'python is fun!'

In [16]:
# 문자열 곱하기
a = 'python'
a * 5

'pythonpythonpythonpythonpython'

In [18]:
# 문자열 길이 구하기
a= 'life is too short'
len(a)

17

# 문자열 인덱싱 - 가리킨다

파이썬은 0부터 센다

In [24]:
a =  'Life is too short, You need Python'

In [22]:
a[3]

'e'

In [23]:
a[12]

's'

In [24]:
a[-1]

'n'

In [25]:
a[-7]

' '

In [27]:
a[-0]
a[0]

'L'

In [ ]:
a[0]

# 문자열 슬라이싱- 잘라낸다

In [27]:
a =  'Life is too short, You need Python'
a[0]+a[1]+a[2]+a[3]

'Life'

In [29]:
a[0:4] #+1 잊지 말기~

'Life'

In [30]:
a[8:17]

'too short'

In [ ]:
a[0:]

In [31]:
a[0:4] == a[0:5]

False

In [34]:
a[19:]

'You need Python'

In [38]:
a[:17]

'Life is too short'

In [39]:
a[:]

'Life is too short, You need Python'

In [41]:
a[19:-7]

'You need'

# 슬라이싱으로 문자열 나누기

In [43]:
a = '20240228Sunny'
date=a[ :8]
weather = a[8:]
date,weather

('20240228', 'Sunny')

In [47]:
year =a[:4]
day= a[4:8]
weather = a[8:]
year, day, weather

('2024', '0228', 'Sunny')

# 문자열 수정하기 - 원본 변경불가

### 문자열 = immutable(변경 불가) 자료형

In [28]:
a= 'pithon'
a[1] ='y'
print(a)

TypeError: 'str' object does not support item assignment

In [29]:
# 문자열을 수정하고 싶다면 슬라이싱 기법으로
b=a[:1] + 'y'+a[2:]
b

'python'

# 문자열 포매팅 - 숫자만 바꾸고 싶어

In [57]:
# 숫자 바로 대입
"I eat %d apples." %3

'I eat 3 apples.'

In [58]:
# 문자열 바로 대입
"I eat %s apples" %"five"

'I eat five apples'

In [59]:
"I eat %s apples" %"5"

'I eat 5 apples'

In [60]:
#숫자 값을 나타내는 변수로 대입
number = 3
"I eat %d apples."%number

'I eat 3 apples.'

In [61]:
# 2개 이상의 값 넣기
number = 10
day = 'three'
"I ate %d apples. so I was sick for %s days" %(number,day)

'I ate 10 apples. so I was sick for three days'

In [62]:
"I ate %d apples. so I was sick for %s days" %(day,number)

TypeError: %d format: a real number is required, not str

In [ ]:
# 숫자는 문자열이 될 수 있다
# 문자열은 숫자가 될 수 없음

In [ ]:
# %% -> 문자 %자체임

In [63]:
'오늘의 습도는 %d%입니다.' %70

TypeError: not enough arguments for format string

In [64]:
'오늘의 습도는 %d%%입니다.' %70

'오늘의 습도는 70%입니다.'

# 포맷 코드와 숫자 함께 사용하기

%10s는 전체 길이가 10개인 문자열 공간에서 대입되는 값을 오른쪽으로 정렬하고 그 앞의 나머지는 공백으로 남겨 두라는 의미이다.

In [31]:
#정렬과 공백 "%10s"& %-10s
"%10s" % 'hi'

'        hi'

In [66]:
"%-10sjane" % 'hi'

'hi        jane'

# 소수점 표현하기

소수점 네 번째 자리까지만 나타내고 싶은 경우  
%0.4f

In [67]:
"%0.4f"%3.42133453

'3.4213'

In [32]:
"%.4f"%3.42133453

'3.4213'

In [68]:
"%10.4f"%3.42133453

'    3.4213'

In [33]:
"%-10.4f"%3.42133453

'3.4213    '

# format 함수를 사용한 포매팅

~{}~.format()

In [69]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [70]:
"I eat {} apples".format('five') # 0안넣어도 됌

'I eat five apples'

In [71]:
number = 10
'I eat {}apples'.format(number)

'I eat 10apples'

In [34]:
number = 10
day = 'three'
'I ate {} apples, so I was sick for {} days.' .format(number,day)

'I ate 10 apples, so I was sick for three days.'

In [73]:
'I ate {0} apples, so I was sick for {1} days.' .format(day,number) #{0}은 자료형으로 지정된게 아니라 문자열 숫자 다 가능

'I ate three apples, so I was sick for 10 days.'

In [74]:
'I ate {number} apples, so I was sick for {day} days.' .format(number=1, day = 'one'

SyntaxError: incomplete input (2430800815.py, line 1)

In [76]:
'I ate {number} apples, so I was sick for {day} days.'.format(10,3)

KeyError: 'number'

In [78]:
'I ate {number} apples, so I was sick for {day} days.'.format(day=10,number=3)

'I ate 3 apples, so I was sick for 10 days.'

In [ ]:
# 정렬, 공백 채우기 잘 안함

# 소수점 표현하기

In [79]:
y = 3.4213234
"{0:0.4f}".format(y)

'3.4213'

# f  문자열 포매팅(강추)

In [81]:
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다.나이는 {age}입니다'

'나의 이름은 홍길동입니다.나이는 30입니다'

In [82]:
age =30
f'나는 내년이면 {age+1}살이 된다.'

'나는 내년이면 31살이 된다.'

In [85]:
d ={'name':'홍길동','age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다'

'나의 이름은 홍길동입니다. 나이는 30입니다'

# 문자열 관련 함수들

In [86]:
# 문자세기 count
a="hobby"
a.count('b')

2

In [90]:
# 위치 알려주기 find
a = 'python is the best choice'
a.find('o')

4

In [91]:
# 위치 알려주기 index - 오류가 났을 때 멈춘다는 점에서 FIND와 다름
a = "Life is too short"
a.index('t')

8

In [92]:
# 문자열 삽입 JOIN

a = 'abcd'
a

'abcd'

In [93]:
','.join(a)

'a,b,c,d'

In [94]:
a=['a','b','c','d']
a

['a', 'b', 'c', 'd']

In [96]:
','.join(a)

'a,b,c,d'

# 소문자로 대문자로 바꾸기 upper

In [100]:
a = 'hi'
a.upper? #?붙이면 설명 볼 수 있음

In [101]:
a = 'hi'
a.upper()

'HI'

In [102]:
print()
print?

In [103]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [ ]:
#pyhton 의 doucumention을 먼저보고
# 그래도 안되면 블로그를 봐라

In [104]:
# 소문자 바꾸기
a= 'HI'
a.lower()

'hi'

In [105]:
a

'HI'

In [111]:
# 왼쪽 공백 지우기 lstrip
a= '   hi    '
a

'   hi    '

In [112]:
a.lstrip()

'hi    '

In [113]:
a.rstrip()

'   hi'

In [114]:
a.strip() # 양쪽 다

'hi'

# 문자열 바꾸기 replace

In [116]:
a = 'Life is too short'
a.replace?

In [118]:
a.replace('Life','Your leg')

'Your leg is too short'

In [119]:
a #원본은 바뀌지 않는다

'Life is too short'

# 문자열 나누기 split

In [120]:
a = 'Life is too short'
a.split()

['Life', 'is', 'too', 'short']

In [121]:
a.split? #공백으로 split해준다

In [122]:
# 공백 말고도 split 되나요?
b= "a:b:c:d"
b.split(":")

['a', 'b', 'c', 'd']

# 변수 -- memory에 저장됌

In [123]:
a = 1
a,type(a)

(1, int)

In [124]:
b ='python '
b,type(b)

('python ', str)

In [126]:
c= [1, 2, 3]
c,type(c)

([1, 2, 3], list)

In [127]:
id(a)

140714863203112

In [130]:
# 문자열을 복사
a= [1,2,3]
b=a

In [131]:
id(a), id(b)

(1632152640640, 1632152640640)

In [132]:
a is b

True

In [133]:
del b

In [134]:
a

[1, 2, 3]

In [138]:
a = [1,2,3]
b=a

In [139]:
id(a),id(b)

(1632154412160, 1632154412160)

In [136]:
a[1]=4  #리스트 형태는 수정 가능, 텍스트 형태는 안돼
a

[1, 4, 3]

In [140]:
b

[1, 2, 3]

https://pythontutor.com/  시각화해서 보는 파이썬

In [141]:
num1 = 10
num2 =num1
num1,num2

(10, 10)

In [142]:
num1 = 11
num1,num2

(11, 10)

In [143]:
# 직접적으로 넣는거는 적용되지 않음
a=[1,2,3]
b=a [:]
id(a),id(b)

(1632154409728, 1632151650624)

In [144]:
c=[1,2,3]
d=[1,2,3]
id(c),id(d)

(1632152639936, 1632141210816)

# copy모듈 이용하기

In [145]:
from copy import copy
a = [1,2,3]
a

[1, 2, 3]

In [148]:
b= copy(a)
id(a),id(b)

(1632151665280, 1632148876160)

In [149]:
b is a

False

In [150]:
b == a

True

# 변수를 만드는 여러가지 방법

In [151]:
a,b=('python','life')

In [152]:
a

'python'

In [153]:
b

'life'

In [160]:
(a,b)= 'python','life'
print(a)
print(b)

python
life

In [156]:
[a,b]=['python','life']

In [157]:
a,b

('python', 'life')

In [161]:
a=3
a=5

In [162]:
a,b=b,a

In [163]:
a,b

('life', 5)

# 리스트 객체 [ ]

In [1]:
odd = [1, 3, 4, 7, 9]
odd

[1, 3, 4, 7, 9]

In [3]:
type(odd)

list

In [5]:
a = []
b = [1,2,3]
c= ['Life','is','too','short']
d = [1,2,'Life','is']
e= [1,2,['Life','is']]
a,b,c,d,e
#리스트 안에는 어떠한 자료형도 포함할 수 있다.

([],
 [1, 2, 3],
 ['Life', 'is', 'too', 'short'],
 [1, 2, 'Life', 'is'],
 [1, 2, ['Life', 'is']])

In [6]:
# 비어있는 리스트 생성  a = list()
a = list()
a,type(a)

([], list)

# 리스트의 인덱싱

In [7]:
a = [1,2,3]
a

[1, 2, 3]

In [8]:
a[0]

1

In [9]:
a[0] + a[2]

4

In [10]:
a[-1]

3

In [11]:
a = [1,2,3,['a','b','c']]

In [12]:
a[0]

1

In [13]:
a[-1]

['a', 'b', 'c']

In [14]:
a[3]

['a', 'b', 'c']

In [15]:
a[-1][0]

'a'

In [16]:
a[-1][1]

'b'

In [17]:
a[-1][2]

'c'

In [18]:
#삼중리스트의 인덱싱 
a = [1, 2, ['a', 'b', ['Life', 'is']]]

In [19]:
a[2][2][0]

'Life'

In [20]:
len(a)

3

# 슬라이싱

In [21]:
a = [1,2,3,4,5]
a[0:2]

[1, 2]

In [22]:
a = '12345'
a[0:2]

'12'

In [23]:
a = [1,2,3,4,5]
b = a[:2]
c= a[2:]
b

[1, 2]

In [24]:
c

[3, 4, 5]

In [25]:
#중첩된 리스트에서 슬라이싱하기 - 리스트 안에 리스트 -> 중첩
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
a[2:5]

[3, ['a', 'b', 'c'], 4]

In [26]:
a[3][:2]
['a', 'b']

['a', 'b']

In [35]:
# 초보자가 범하기 쉬운 리스트 연산 오류

In [36]:
a = [1, 2, 3] int+str X str+str
a[2] + "hi"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [37]:
str(a[2]) + "hi"

'3hi'

a[2]에 저장된 값은 3이라는 정수인데 "hi"는 문자열이다. 정수와 문자열은 당연히 서로 더할 수 없기 때문에 오류가 발생한 것이다.

만약 숫자와 문자열을 더해서 '3hi'를 만들고 싶다면 다음처럼 숫자 3을 문자 '3'으로 바꾸어야 한다.

# del로 리스트 요소 삭제하기

In [27]:
a = [1,2,3]

In [28]:
del a [1]

In [29]:
a

[1, 3]

In [30]:
a = [1,2,3,4,5]
del a[2:]

In [31]:
a

[1, 2]

# 리스트 관련 함수

# 리스트 요소 추가 append

In [33]:
a = [1,2,3]
a

[1, 2, 3]

In [34]:
a.append(4)
a

[1, 2, 3, 4]

# 리스트 정렬 sort

In [39]:
a = [1,4,3,2] # 오름차순
a.sort()
a

[1, 2, 3, 4]

In [36]:
a.sort?

In [39]:
a.sort(reverse=True) #내림차순
a

[4, 3, 2, 1]

# 리스트 뒤집기 reverse

In [40]:
a = ['a','c','b'] 
a.reverse()
a

['b', 'c', 'a']

# 인덱스 반환 index

In [41]:
a = [1,2,3]
a.index(3)

2

In [42]:
a.index(0)  # index() vs find()  인덱스는 없으면 에러, find는 에러X

ValueError: 0 is not in list

# 리스트 요소 삽입 insert

In [44]:
#insert (a,b)  a위치에 b를 삽입한다
a = [1,2,3]
a.insert(0,4)
a

[4, 1, 2, 3]

In [45]:
a.insert?

In [46]:
help(a.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

# remove

In [47]:
# remove(x)는 리스트에서 첫 번째로 나오는 x를 삭제하는 함수
a = [1,2,3,1,2,3]
a.remove(3)

In [48]:
a

[1, 2, 1, 2, 3]

In [49]:
a.remove(3)
a

[1, 2, 1, 2]

In [ ]:
#문자열은 수정이 안된다.
#리스트형은 수정이 된다

# pop()
리스트의 맨 마지막 요소를 삭제한다
# pop(X)
리스트의 X번째 요소를 삭제한다

In [40]:

a = [1,2,3]
a.pop()

3

In [41]:
a

[1, 2]

In [51]:
a.pop?

# count(X)
리스트에 포함된 요소 X의 개수 세기

In [52]:
a = [1,2,3,1]
a.count(1)

2

# extend(X)
x에는 리스트만 올 수 있다

In [53]:
a = [1,2,3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [55]:
b=[6,7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7, 6, 7]

In [56]:
a += [4,5] # 더하고 넣어줘
a

[1, 2, 3, 4, 5, 6, 7, 6, 7, 4, 5]

In [57]:
a = a + [9,9]
a

[1, 2, 3, 4, 5, 6, 7, 6, 7, 4, 5, 9, 9]

# 튜플 객체

In [ ]:
# 리스트 [] 튜플 ()

In [58]:
t1 = ()
t2 = (1,)
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ('a', 'b', ('ab', 'cd'))
t1,t2,t3,t4,t5

((), (1,), (1, 2, 3), (1, 2, 3), ('a', 'b', ('ab', 'cd')))

In [59]:
type(t1)

tuple

In [60]:
type((1)),type((1,))

(int, tuple)

# 튜플 요소 삭제/변경 시도

리스트는 요솟값의 생성, 삭제, 수정이 가능하지만, 
튜플은 요솟값을 바꿀 수 없다

리스트 [], 튜플 ()

In [61]:
t1 = (1, 2, 'a', 'b')
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [62]:
 t1 = (1, 2, 'a', 'b')
t1[0] = 'c'

TypeError: 'tuple' object does not support item assignment

# 튜플 다루기

In [ ]:
#인덱싱
t1 = (1, 2, 'a', 'b')
t1[0]

In [63]:
t1[3]

'b'

In [64]:
#슬라이싱
t1 = (1, 2, 'a', 'b')
t1[1:]

(2, 'a', 'b')

In [65]:
#튜플 더하기
t1 = (1, 2, 'a', 'b')
t2 = (3, 4)
t3 = t1 + t2
t3

(1, 2, 'a', 'b', 3, 4)

In [66]:
# 튜플 곱하기
t2 = (3, 4)
t3 = t2 * 3
t3

(3, 4, 3, 4, 3, 4)

# 튜플 길이 구하기

In [68]:
# 데이터베이스 만들 때 튜플 쓰임
# 튜플은 요솟값을 변경할수 없기 때문에 
# sort, insert, remove, pop과 같은 내장 함수가 없다.

In [69]:
t1 = (1, 2, 'a', 'b')
len(t1)

4

# 딕셔너리 자료형

In [ ]:
# 대응관계를 나타내는 딕셔너리 자료형이다
# key와 value를 한 쌍으로 가짐

In [76]:
 dic = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}

In [77]:
dic

{'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}

In [78]:
a = {1: 'hi'}

In [80]:
a = {'a': [1, 2, 3]}
a

{'a': [1, 2, 3]}

# 딕셔너리 쌍 추가, 삭제하기

In [70]:
a = {1: 'a'}
a[2] = 'b'
a

{1: 'a', 2: 'b'}

In [71]:
 a['name'] = 'pey'
a #딕셔너리는 뮤터블 객체

{1: 'a', 2: 'b', 'name': 'pey'}

In [72]:
 a[3] = [1, 2, 3]
a

{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

# 딕셔너리 요소 삭제하기

In [73]:
del a[1]
a

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

# Key를 사용해 Value 얻기

In [74]:
grade = {'pey': 10, 'julliet': 99} #무조건 key로만 조회 가능 value는 NO
grade['pey']

10

In [75]:
grade['julliet']

99

In [81]:
dic = {'name':'pey', 'phone':'010-9999-1234', 'birth': '1118'}
dic['name'],dic['phone'],dic['birth']

('pey', '010-9999-1234', '1118')

# 딕셔너리 주의사항

딕셔너리에서 Key는 고유한 값이므로 중복되는 Key 값을 설정해 놓으면 하나를 제외한 나머지 것들이 모두 무시된다는 점에 주의해야 한다.    
-> 중복된 key값 설정X

In [82]:
a = {1:'a', 1:'b'}
a

{1: 'b'}

In [ ]:
# Key에 리스트는 쓸 수 없다 하지만 튜플은 Key로 쓸 수 있다.

In [83]:
a = {[1,2] : 'hi'} # 단일요소에 수정이 불가능해야함

TypeError: unhashable type: 'list'

In [44]:
a = {(1,2) : 'hi'} 
a

{(1, 2): 'hi'}

### 딕셔너리 관련함수

In [84]:
#keys
a1 = 'str'
a2 = [1,2,3]
a3 = (1,)
a4 = {1:'a'}
type(a1),type(a2),type(a3),type(a4)

(str, list, tuple, dict)

In [85]:
a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [87]:
for k in a.keys():
    print(k)

name
phone
birth

In [88]:
# values
a.values()

dict_values(['pey', '010-9999-1234', '1118'])

In [89]:
# items - key&value모두 다
a.items()

dict_items([('name', 'pey'), ('phone', '010-9999-1234'), ('birth', '1118')])

In [90]:
# clear -삭제하기/ 잘 안함
a.clear()

In [91]:
# get key로 value추출
a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
a.get('name')

'pey'

In [92]:
a['name']

'pey'

In [93]:
a['nokey'] #오류 발생

KeyError: 'nokey'

In [95]:
a.get('nokey') # None을 리턴한다
a

{'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}

In [ ]:
# 해당 Key가 딕셔너리 안에 있는지 조사하기 - in

In [96]:
'name' in a

True

In [97]:
'email' in a

False

In [ ]:
#우리는 딕셔너리와 리스트 많이 씀

# 집합자료형
중복을 허용하지 않는다.
순서가 없다(Unordered)

In [98]:
s1 = set([1,2,3])
s1,type(s1)

({1, 2, 3}, set)

In [99]:
s2 = set('Hello')
s2,type(s2)

({'H', 'e', 'l', 'o'}, set)

In [ ]:
# 딕셔너리, set 자료형은 순서가 없어 - 인덱싱 불가

In [ ]:
# set은 중복 제거를 위한 필터링 목적으로 많이 쓰임

In [100]:
s1 = set([1, 2, 3])
l1 = list(s1)
l1

[1, 2, 3]

만약 set 자료형에 저장된 값을 인덱싱으로 접근하려면 다음과 같이 리스트나 튜플로 변환한 후에 해야 한다.

In [101]:
t1 = tuple(s1)
t1,t1[0]

((1, 2, 3), 1)

# 교집합, 합집합, 차집합 구하기

In [ ]:
#교집합

In [102]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])
s1 & s2

{4, 5, 6}

In [103]:
s1.intersection(s2)

{4, 5, 6}

In [ ]:
#합집합

In [104]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [105]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
# 차집합

In [106]:
s1 - s2

{1, 2, 3}

In [107]:
 s2 - s1

{7, 8, 9}

In [108]:
 s1.difference(s2)

{1, 2, 3}

In [109]:
s2.difference(s1)

{7, 8, 9}

# 집합 자료형 관련 함수

In [46]:
# add 값 1개 추가하기
s1 = set([1, 2, 3])
s1.add(4)
s1

{1, 2, 3, 4}

In [110]:
# update 값 여러개 추가하기
s1 = set([1, 2, 3])
s1.update([4, 5, 6])
s1

{1, 2, 3, 4, 5, 6}

In [111]:
# 특정값 제거하기 remove
s1 = set([1, 2, 3])
s1.remove(2)
s1

{1, 3}

# 불 자료형(논리)
불(bool) 자료형이란 참(True)과 거짓(False)을 나타내는 자료형

In [113]:
a= True
b= False

In [114]:
type(a),type(b)

(bool, bool)

In [115]:
1 == 1

True

In [116]:
2 > 1

True

In [117]:
2 < 1

False

In [118]:
'python' == True

False

In [120]:
a = [1, 2, 3, 4]
while a:
    print(a.pop())

4
3
2
1

In [121]:
if []:
    print("참")
else:
    print("거짓")

거짓

In [122]:
if [1,2,3]:
    print("참")
else:
    print("거짓") #값이 있으면 참

참

# 불연산

In [125]:
'python' is True

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\EST\AppData\Local\Temp\ipykernel_13028\486934944.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  'python' is True

False

In [126]:
'python'== True

False

In [123]:
bool('python')

True

In [124]:
bool('')

False

In [127]:
bool(0)

False

In [128]:
bool(3)

True