# 151-160

In [ ]:
#151

In [7]:
리스트 = [3, -20, -3, 44]
for a in 리스트:
    if a < 0:
        print(a)

-20
-3

In [9]:
리스트 = [3, 100, 23, 44]
for a in 리스트:
    if a%3 == 0:
        print(a)

3

In [10]:
리스트 = [13, 21, 12, 14, 30, 18]
#조건 <30 / 3의 배수
for a in 리스트:
    if a < 20 and a % 3 == 0:
        print(a)

12
18

In [ ]:
#154

In [20]:
리스트 = ["I", "study", "python", "language", "!"]

for a in 리스트:
    if len(a) >=3:
        print(a)

study
python
language

In [30]:
리스트 = ["A", "b", "c", "D"]
for a in 리스트:
    if a.isupper():
        print(a)

A
D

In [ ]:
#157

In [51]:
리스트 = ['dog', 'cat', 'parrot']
for a in 리스트:
    print(a.upper()[0] + a[1:])

Dog
Cat
Parrot

In [53]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for a in 리스트:
    print(a.split('.')[0])

hello
ex01
intro

In [57]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for a in 리스트:
    if a.endswith('h'):
        print(a)

intra.h
define.h

In [60]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for a in 리스트:
    b=a.split(".")[1]
    if b == 'h':
        print(a)

intra.h
define.h

In [62]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for a in 리스트:
    b=a.split(".")[1]
    if b == 'h' or b == 'c':
        print(a)

intra.h
intra.c
define.h

# 161-170

In [204]:
for num in range(0,100):
    #print(num)

SyntaxError: invalid syntax (57335614.py, line 1)

In [74]:
for a in range(2002, 2051,4):
    print(a)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [77]:
for a in range(1, 31):
    if a % 3 == 0:
        print(a)

3
6
9
12
15
18
21
24
27
30

In [78]:
for a in range(3, 31, 3):
    print(a)

3
6
9
12
15
18
21
24
27
30

In [201]:
for a in range(99, -1, -1):
    #print(a)

SyntaxError: incomplete input (269344207.py, line 2)

In [ ]:
#165(강의)

In [88]:
for a in range(10):
    print(a/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [105]:
for a in range(1,10):
    print("3","X",a,"=",3*a)

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

In [110]:
for a in range(1,10,2):
    print("3","X",a,"=",3*a)

3 X 1 = 3
3 X 3 = 9
3 X 5 = 15
3 X 7 = 21
3 X 9 = 27

#168(강의보기)
1~10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

In [114]:
hab = 0
for i in range(1,11):
    hab += i
print("합:",hab)

합: 55

In [115]:
hab = 0
for i in range(1,11,2):
    hab += i
print("합:",hab)

합: 25

In [ ]:
#1~10까지의 숫자를 모두 곱한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

In [ ]:
#170(강의보기)

In [117]:
hab = 1
for i in range(1,11):
    hab *= i
print("곱:",hab)

곱: 3628800

# 171-180

In [ ]:
# 171 (강의)

In [118]:
price_list = [32100, 32150, 32000, 32500]
for a in price_list:
    print(a)

32100
32150
32000
32500

In [121]:
price_list = [32100, 32150, 32000, 32500]
for i in range(4):
    print(price_list[i])

32100
32150
32000
32500

In [122]:
for i in range(len(price_list)):
    print(price_list[i])

32100
32150
32000
32500

In [125]:
price_list = [32100, 32150, 32000, 32500]
for a in range(4):
    print(a, price_list[a])

0 32100
1 32150
2 32000
3 32500

In [ ]:
#173

In [127]:
price_list = [32100, 32150, 32000, 32500]
for a in range(4):
    print(3-a, price_list[a])

3 32100
2 32150
1 32000
0 32500

In [129]:
for i in range(len(price_list)):
    print((len(price_list)-1) -i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [ ]:
#174 강의

In [136]:
price_list = [32100, 32150, 32000, 32500]
for a in range(1,4):
    print(90+10*i, price_list[a])

32100
32150
32000
32500

In [162]:
my_list = ["가", "나", "다", "라"]
my_list[0],my_list[1]
my_list[1],my_list[2]
my_list[2],my_list[3]

('다', '라')

In [161]:
my_list = ["가", "나", "다", "라"]
for i in range(0,3):
    print(my_list[i],my_list[i+1])

가 나
나 다
다 라

In [163]:
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)-1):
    print(my_list[i],my_list[i+1])

가 나
나 다
다 라

In [167]:
my_list = ["가", "나", "다", "라", "마"]
my_list[0],my_list[1],my_list[2]
my_list[1],my_list[2],my_list[3]
my_list[2],my_list[3],my_list[4]
my_list[i],my_list[i+1],my_list[i+2],

('다', '라', '마')

In [168]:
for i in range(len(my_list)-2):
    print(my_list[i],my_list[i+1],my_list[i+2])

가 나 다
나 다 라
다 라 마

In [ ]:
#177 강적임-- 강의..

In [173]:
my_list = ["가", "나", "다", "라"]
my_list[3],my_list[2]
my_list[2],my_list[1]
my_list[1],my_list[0]

for i in [3,2,1]:
    print(my_list[i], my_list[i-1])
for i in [2,1,0]:
    print(my_list[i+1], my_list[i])
for i in [0,1,2]:
    print(my_list[3-i],my_list[2-i])

라 다
다 나
나 가
라 다
다 나
나 가
라 다
다 나
나 가

In [160]:
my_list = ["가", "나", "다", "라"]
for a in range(len(my_list)-1, 0, -1):
    print(my_list[-a])

가
라

In [175]:
my_list = [100, 200, 400, 800]

my_list[1]-my_list[0]
my_list[2]-my_list[1]
my_list[3]-my_list[2]

my_list[i]-my_list[i-1]

200

In [179]:
my_list = [100, 200, 400, 800]
for i in range(1,4):
    print(my_list[i]-my_list[i-1])

100
200
400

In [181]:
my_list = [100, 200, 400, 800]
for i in range(len(my_list)-1):
    print(my_list[i+1] - my_list[i])

100
200
400

In [185]:
my_list = [100, 200, 400, 800, 1000, 1300]
(my_list[0]+my_list[1]+my_list[2])/3
(my_list[1]+my_list[2]+my_list[3])/3
(my_list[2]+my_list[3]+my_list[4])/3
(my_list[3]+my_list[4]+my_list[5])/3

(my_list[i]+my_list[i+1]+my_list[i+2])/3

1033.3333333333333

In [188]:
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(len(my_list)-2):
    print((my_list[i]+my_list[i+1]+my_list[i+2])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [190]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
변동폭= high_prices[0]-low_prices[0]
        high_prices[4]-low_prices[4]

NameError: name 'high_prces' is not defined

In [ ]:
#list에서 list.append()함수 만들기--- 내용 추가할 수 있음

In [200]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility=[]
for i in range(len(low_prices)):
    volatility.append(high_prices[i]-low_prices[i])
print(volatility)

[50, 100, 30, 80, 0]

# 181-190

In [206]:
apart= [["101호","102호"],["201호","202호"],["301호","302호"]]
print(apart)

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [209]:
stock=[["시가",100,200,300],["종가",80,210,330]]
print(stock)

[['시가', 100, 200, 300], ['종가', 80, 210, 330]]

In [211]:
stock={"시가":[100,200,300],"종가":[80,210,330]}
print(stock)

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

In [213]:
stock={"10/10":[80,110,70,90],"10/11":[210,230,190,200]}
print(stock)

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

In [ ]:
#185- 이중루프

In [224]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for 층 in apart:
    for 집 in 층:
        print(집,"호")

101 호
102 호
201 호
202 호
301 호
302 호

In [227]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for 층 in apart[::-1]:
    for 집 in 층:
        print(집,"호")

301 호
302 호
201 호
202 호
101 호
102 호

In [228]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for 층 in apart[::-1]:
    for 집 in 층[::-1]:
        print(집,"호")

302 호
301 호
202 호
201 호
102 호
101 호

In [242]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for 층 in apart: 
    for 집 in 층:
        print(집, "호")
        print("-"*5)

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [245]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col, "호")
    print("-----")

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [246]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col, "호")
print("-----")

101 호
102 호
201 호
202 호
301 호
302 호
-----

# 191-200

In [ ]:
#191 소수점 머야

In [251]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for a in data:
    for b in a:
        print(b*1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [253]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for a in data:
    for b in a:
        print(b*1.00014)
    print("-"*4)

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [267]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

type(data)

list

In [266]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

result=[]
for a in data:
    for b in a:
        result.append(b*1.00014)
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [ ]:
#194

In [273]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result = []
for line in data:
    sub = []
    for column in line:
        sub.append(column * 1.00014)
    result.append(sub)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [275]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
ohlc[1][3]
ohlc[2][3]
ohlc[3][3]

In [282]:
for i in range(len(ohlc)-1):
    print(ohlc[i+1][3])

100
190
310

In [284]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in range(len(ohlc)-1):
    b=ohlc[i+1][3]
    if b > 150:
        print(b)

190
310

In [287]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    if (i[3] >= i[0]):
        print(i[3])

100
310

In [291]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
volatility=[]
for i in ohlc[1:]:
    volatility.append(i[1]-i[2])
print(volatility)

[40, 30, 10]

In [292]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

#조건 2 
# 종가 > 시가
#변동성 고가 저가

for i in ohlc[1:]:
    if i[3] > i[0]:
        print(i[1]-i[2])

10

In [ ]:
#200 왜 profit=0?

In [311]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
profit=0
for i in ohlc[1:]:
    profit += (i[3]-i[0])
print(profit)

0