# 101-110 파이썬 분기문

In [ ]:
#bool 타입

In [1]:
print(3==5)
#True

False

In [2]:
print(3<5)
#True

True

In [3]:
x = 4
print(1 < x <5)
#True

True

In [4]:
print((3==3) and (4!=3))
#True

True

In [5]:
print(3 => 4)
#같거나라는 조건이 있어서?
#정답: 지원하지 않는 연산자임.

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (3491976349.py, line 1)

In [6]:
if 4 < 3:
    print("Hello World")
#조건을 충족하지 않아 아무 결과도 안나옴

In [7]:
if 4 < 3:
    print("Hello World")
else:
    print("Hi, there")
    
# Hi, there이 나온다

Hi, there

In [ ]:
# 109

In [12]:
if True:
    print("1")
    print("2")
else:
    print("3")
print("4")

1
2
4

In [ ]:
# 110

In [13]:
if True:
    if False:
        print("1")
        print("2")
    else:
        print("3")
else:
    print("4")
print("5")

3
5

# 111-120

In [16]:
a= "안녕하세요"
print(a*2)

안녕하세요안녕하세요

input( )

In [17]:
user = input("입력:")
print(user * 2)

입력:안녕하세요
안녕하세요안녕하세요

In [18]:
user = input('입력:')
print(user*2)

입력:헤헤
헤헤헤헤

In [20]:
name = input('이름:')
age = input('나이:')
print("내 이름은", name+age)

이름:심현정
나이:18세
내 이름은 심현정18세

In [ ]:
#요소의 형태를 주의하자 str+int X int+int0

In [30]:
number = input("숫자를 입력하세요:")
print(int(number)+10)

숫자를 입력하세요:30
40

In [36]:
number = input("숫자를 입력하세요:")
if int(number)%2 == 0:
    print("짝수")
else:
    print("홀수")

숫자를 입력하세요:2
짝수

In [39]:
number = input("값을 입력하세요:")
if int(number)+20 > 255:
    print("255")
else:
    print(int(number)+20)

값을 입력하세요:300
255

In [40]:
number = input("값을 입력하세요:")
num = int(number) +20
if num > 255:
    print(255)
else:
    print(num)

값을 입력하세요:300
255

In [46]:
user = input("값을 입력하세요:")
num = int(user)-20
if num > 255:
    print(255)
elif num < 0:
     print(0)
else:
    print(num)

값을 입력하세요:30
10

In [ ]:
#116

In [54]:
time = input("현재시간:")
if time[-2:] == "00":
    print("정각 입니다.")
elif time[-1] == "시": 
    print("정각 입니다")
elif time[-1] == "분":
    print("정각이 아닙니다.")
else:
    print("정각이 아닙니다.")

현재시간:4시30분
정각이 아닙니다.

In [57]:
fruit = ["사과", "포도", "홍시"]
user = input("좋아하는 과일은?:")
if user in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

좋아하는 과일은?:파인애플
오답입니다.

In [59]:
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
user = input("종목명을 입력해주세요:")

if user in warn_investment_list:
    print("투자 경고 종목입니다")
else:
    print("투자 경고 종목이 아닙니다")

종목명을 입력해주세요:네이버
투자 경고 종목이 아닙니다

In [62]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

user = input("제가 좋아하는 계절은:")
if user in fruit:
    print("정답입니다")
else:
    print("오답입니다")

제가 좋아하는 계절은:토마토
오답입니다

In [64]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("좋아하는 과일은?")
if user in fruit.values():
    print("정답입니다")
else:
    print("오답입니다")

좋아하는 과일은?한라봉
오답입니다

# 121-130

In [ ]:
# islower()함수는 소문자영부를 판별한다

In [68]:
user = input("문자를 입력하세요:")
if user.islower():
    print(user.lower())
else:
    print(user.upper())

문자를 입력하세요:J
J

In [2]:
score = input("점수를 입력하세요")
score = int(score)
if 81 <= score <= 100: 
    print("grade is: A")
elif 61 <= score <= 80: 
    print("grade is: B")
elif 41 <= score <= 60: 
    print("grade is: C")
elif 21 <= score <= 40: 
    print("grade is: D")
else:
     print("grade is: E")

점수를 입력하세요23
grade is: D

In [ ]:
#123

In [9]:
환율 ={'달러':1167,'엔': 1.096,'유로': 1268,'위안':171}
user = input("입력:  ")
num, currency = user.split()
print(float(num)*환율 [currency],"원")

입력:  12 달러
14004.0 원

In [ ]:
#124

In [13]:
num1 = input("숫자를 입력하세요:")
num2 = input("숫자를 입력하세요:")
num3 = input("숫자를 입력하세요:")
num1 = int(num1)
num2 = int(num2)
num3 = int(num3)

if num1 >= num2 and num1 >= num3:
    print(num1)
elif num2 >= num1 and num2 >= num3:
    print(num2)
else:
    print(num3)

숫자를 입력하세요:10
숫자를 입력하세요:9
숫자를 입력하세요:20
20

In [ ]:
#125

In [28]:
phone = input("휴대전화 번호 입력:")
phone=phone.split("-")[0]
if phone == "010":
    print("당신은 SKT 사용자입니다.")
elif phone == "016":
    print("당신은 KT 사용자입니다.")
elif phone == "019":
    print("당신은 LGU 사용자입니다.")
else:
    print("알수없음")

휴대전화 번호 입력:016
당신은 KT 사용자입니다.

In [29]:
phone = input("휴대전화 번호 입력:")
phone=phone.split("-")[0]
if phone == "010":
    com = "SKT"
elif phone == "016":
    com = "KT"
elif phone == "019":
    com = "LGU"
else:
    com = "알수없음"
print(f'당신은 {com}사용자입니다.')

휴대전화 번호 입력:010-8660
당신은 SKT사용자입니다.

In [ ]:
#126

In [46]:
post = input("우편번호:")
post= post[:3]
if post in ["010","011","012"]:
    print("강북구")
elif post in ["013", "014", "015"]:
    print("도봉구")
else:
    print("노원구")
    
#01023

우편번호:01356
도봉구

In [ ]:
post = input("우편번호:")
post= post[:3]
if post in ["010","011","012"]:
    print("강북구")
elif post in ["013", "014", "015"]:
    print("도봉구")
else:
    print("노원구")
    
#01023

In [56]:
num = input("주민등록번호:")
num=num[7]
if num == "1" or num == "3":
    print("남자")
else:
    print("여자")

주민등록번호:821010-2635210
여자

In [ ]:
#128

In [63]:
num = input("주민등록번호:")
num=int(num[8:10])
if 0 <= num <=8:
    print('서울입니다.')
else:
    print("서울이 아닙니다")

주민등록번호:821010-1635210
서울이 아닙니다

In [ ]:
#129

In [128]:
num=input("주민등록번호:")
계산 =  int(num[0]) * 2 + int(num[1]) * 3 + int(num[2]) * 4 + int(num[3]) * 5 + int(num[4]) * 6 + \
        int(num[5]) * 7 + int(num[7]) * 8 + int(num[8]) * 9 + int(num[9]) * 2 + int(num[10])* 3 + \
        int(num[11])* 4 + int(num[12]) * 5
계산2 = 11-계산
if num[-1] == str(계산2):
    print("유효한 주민등록번호입니다")
else:
    print("유효하지 않은 주민등록번호입니다")

주민등록번호:821010-1635210
유효하지 않은 주민등록번호입니다

In [ ]:
#130

In [125]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

변동폭=int(btc['max_price'])-int(btc['min_price'])
최고가=int(btc['max_price'])
시가=int(btc['opening_price'])

if 시가+변동폭 > 최고가:
    print('상승장')
else:
    print("하락장")

상승장

# 131-140

In [64]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [65]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

#####
#####
#####

In [67]:
알파벳 = ["A", "B", "C"]
for 변수 in 알파벳:
  print(변수)

A
B
C

In [68]:
for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)

출력: A
출력: B
출력: C

In [70]:
변수 = 'A'
print("출력", 변수)

print('출력', "A")

출력 A
출력 A

In [73]:
for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)
"A".lower()

변환: a
변환: b
변환: c

'a'

In [75]:
print("변환:","A".lower())
print("변환:","B".lower())
print("변환:","C".lower())

변환: a
변환: b
변환: c

In [76]:
변수=[10,20,30]
for a in 변수:
    print(a)

10
20
30

In [77]:
for a in [10,20,30]:
    print(a)

10
20
30

In [78]:
for a in [10,20,30]:
    print(a)
    print("-------")

10
-------
20
-------
30
-------

In [80]:
print("++++")
for a in [10,20,30]:
    print(a)

++++
10
20
30

In [83]:
for a in [1,2,3,4]:
    print('------')

------
------
------
------

# 141-150

In [84]:
리스트 = [100, 200, 300]
for a in 리스트:
    print(a+10)

110
210
310

In [88]:
리스트 = ["김밥", "라면", "튀김"]
for a in 리스트:
    print("오늘의 메뉴:",a)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [89]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for a in 리스트:
    print(len(a))

6
4
4

In [90]:
리스트 = ['dog', 'cat', 'parrot']
for a in 리스트:
    print(a, len(a))

dog 3
cat 3
parrot 6

In [92]:
리스트 = ['dog', 'cat', 'parrot']
for a in 리스트:
    print(a[0])

d
c
p

In [94]:
리스트 = [1, 2, 3]
for a in 리스트:
    print("3 x",a)

3 x 1
3 x 2
3 x 3

In [96]:
리스트 = ["가", "나", "다", "라"]
for a in 리스트[1:]:
    print(a)

나
다
라

In [ ]:
#리스트 슬라이싱 [시작:끝:증감폭] 퐁당퐁당 꺼내고 싶을 때

In [103]:
리스트 = ["가", "나", "다", "라"]
for a in 리스트[::2]:
    print(a)

가
다

In [ ]:
#150 -리스트 형태를 역순으로 -> [시작:끝:증감폭] 활용

In [114]:
리스트 = ["가", "나", "다", "라"]
for a in 리스트[::-1]:
    print(a)

라
나