# 201-210

In [1]:
def print_coin():
    print("비트코인")

In [2]:
print_coin()

비트코인

In [7]:
for a in range(100):

SyntaxError: incomplete input (432300609.py, line 1)

In [9]:
def print_coins():
    for a in range(100):
        print('비트코인')

In [ ]:
hello()
def hello():
    print("Hi")
# 함수가 정의도 되기 전에 호출해서

In [10]:
def hello():
    print("Hi")

In [11]:
hello()

Hi

In [12]:
def message() :
    print("A")
    print("B")

message()
print("C")
message()

A
B
C
A
B

In [13]:
print("A")

def message() :
    print("B")

print("C")
message()

A
C
B

In [14]:
print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()

A
C
B
E
D

In [16]:
#209 왜 B먼저임

In [15]:
def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()

B
A

In [ ]:
#210

In [ ]:
def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

# 211-220

In [17]:
def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")

안녕
Hi

In [18]:
def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)

7
15

In [20]:
def 함수(문자열) :
    print(문자열)

In [22]:
함수()
#오류가 나는 이유
#함수에 정의와 다르게 함수를 호출하고 있다. 함수를 호출할 때 하나의 파라미터를 입력해야한다.

TypeError: 함수() missing 1 required positional argument: '문자열'

In [27]:
def 함수(a, b) :
    print(a + b)

함수("안녕", 3)
# 매개변수의 정보 형식이 다름 - error 발생
# 문자열과 숫자를 입력해서 문자열과 숫자는 더할 수 없다는 에러가 발생합니다.

In [31]:
def print_with_smile(string):
    print(string+":D")

In [32]:
print_with_smile('바보')

바보:D

In [33]:
print_with_smile('안녕하세요')

안녕하세요:D

In [34]:
def print_upper_price(price):
    print(price*1.3)

In [35]:
print_upper_price(100)

130.0

In [36]:
def print_sum(a,b):
    print(a+b)

In [37]:
print_sum(7,8)

15

In [50]:
def print_arithmetic_operation(a,b):
    print(a,"+",b,"=",a+b)
    print(a,"-",b,"=",a-b)
    print(a,"*",b,"=",a*b)
    print(a,"/",b,"=",a/b)

In [51]:
print_arithmetic_operation(3,4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [52]:
def print_max(a,b,c):
    if a > b and a > c:
        print(a)
    elif b > a and b > c:
        print(b)
    else:
        print(c)

In [53]:
print_max(1,5,7)

7

# 221-230

In [54]:
def print_reverse(string):
    print(string[::-1])

In [55]:
print_reverse('python')

nohtyp

In [57]:
def print_score(score_list):
    print(sum(score_list)/len(score_list))

In [60]:
print_score([1,2,3])

2.0

In [61]:
def print_even(type_list):
    for a in type_list:
        if a%2 == 0:
            print(a)

In [62]:
print_even ([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [67]:
def print_keys(dic):
    for keys in dic.keys():
        print(keys)

In [68]:
print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [78]:
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

In [79]:
def print_value_by_key (my_dict, key) :
    print(my_dict[key])

In [80]:
print_value_by_key  (my_dict, "10/26")

[100, 130, 100, 100]

In [85]:
def print_5xn(string):
    print(string[:5])
    print(string[5:])

In [86]:
print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

In [ ]:
#227

In [90]:
def print_mxn(line, num):
    chunk_num = int(len(line) / num)
    for x in range(chunk_num + 1) :
        print(line[x * num: x * num + num])

In [92]:
print_mxn("아이엠어보이유알어걸", 3)

아이엠
어보이
유알어
걸

In [ ]:
#228 왜 return?

In [97]:
def calc_monthly_salary(annual_salary):
    monthly_pay=(annual_salary//12)
    return monthly_pay

In [98]:
calc_monthly_salary(12000000)

1000000

In [99]:
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)

왼쪽: 100
오른쪽: 200

In [100]:
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)

왼쪽: 200
오른쪽: 100

# 231-240

In [ ]:
#231

In [ ]:
def n_plus_1 (n) :
    result = n + 1

n_plus_1(3)
print (result)

In [101]:
def make_url(string):
    url = 'www' + string +'.com'
    return url

In [104]:
def make_url(string):
    return 'www.' + string +'.com'

In [105]:
make_url("naver")

'www.naver.com'

In [106]:
def make_list(string):
    my_list=[]
    for a in string:
        my_list.append(a)
    return my_list

In [107]:
make_list("abcd")

['a', 'b', 'c', 'd']

In [108]:
def make_list(string):
    return list(string)

In [109]:
make_list("abcd")

['a', 'b', 'c', 'd']

In [120]:
def pickup_even(list_):
    result=[]
    for a in list_:
        if a%2 == 0:
            result.append(a)
    return result

In [121]:
pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

In [122]:
def convert_int(string):
    return int(string.replace(',',''))

In [123]:
convert_int("1,234,567")

1234567

In [124]:
def 함수(num) :
    return num + 4

a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)

22

In [125]:
def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)

22

In [126]:
def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)

140

In [127]:
def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)

16

In [128]:
def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)

28