# 1-10

In [3]:
"Hello World"

'Hello World'

In [4]:
"Mary's cosmetics"

"Mary's cosmetics"

In [5]:
'신씨가 소리질렀다. "도둑이야"'

'신씨가 소리질렀다. "도둑이야"'

In [10]:
"C:\Windows"

'C:\\Windows'

In [13]:
print("안녕하세요.\n만나서\t\t반갑습니다.")
# \n 줄바꿈 
# \t\t tab

안녕하세요.
만나서	반갑습니다.

In [20]:
print ("오늘은","일요일")

오늘은 일요일

In [24]:
print("naver", "kakao", "samsung", sep=";")

naver;kakao;samsung

In [26]:
print("naver/kakao/sk/samsung")

naver/kakao/sk/samsung

009 print 줄바꿈   
다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다.    
세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.

In [29]:
print("first", end="");print("second")

firstsecond

In [30]:
print(5/3)

1.6666666666666667

# 10-20

In [34]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [38]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [ ]:
#13

In [50]:
s="hello"
t="python"
print(s+"!",t)

hello! python

In [51]:
print(2+2*3)

8

In [53]:
 a = "132"
print(type(a))

<class 'str'>

16 str-int로 변환하기 ->  int(변수)

In [59]:
num_str = "720"
num_int=int(num_str)
print(num_int)

720

In [62]:
num =100
num_s=str(num)
type(num_s)

str

In [68]:
data = "15.79"
data1 = float(data)
print(data1,type(data1))

15.79 <class 'float'>

In [71]:
year = "2020"
year1 = int(year)
print(year1,year1+1,year1+2)

2020 2021 2022

In [72]:
에어컨 = 48584
총금액 = 에어컨*36
print(총금액)

1749024

# 21-30

In [75]:
letters = 'python'
print(letters[0],letters[2])

p t

In [81]:
license_plate = "24가 2210"
print(license_plate[-4:])

2210

In [ ]:
#23

In [87]:
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [ ]:
#24

In [95]:
string = "PYTHON"
print(string[::-1])

NOHTYP

In [101]:
phone_number = "010-1111-2222"
a= phone_number.replace("-"," ")
print(a)

010 1111 2222

In [102]:
phone_number = "010-1111-2222"
a= phone_number.replace("-","")
print(a)

01011112222

In [105]:
url = "http://sharebook.kr"
print(url[-2:])

kr

In [106]:
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

In [109]:
string = 'abcdfe2a354a32a'
string=string.replace('a','A')
print(string)

Abcdfe2A354A32A

In [110]:
string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

# 31-40

In [111]:
a = "3"
b = "4"
print(a + b)

34

In [112]:
print("Hi" * 3)

HiHiHi

In [113]:
print("-"*80)

--------------------------------------------------------------------------------

In [ ]:
#34

In [119]:
t1 = 'python'
t2 = 'java'
t3= t1 + ' '+ t2 + ' '
print(t3 *4)

python java python java python java python java

In [120]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: %s 나이:%d" %(name1, age1))
print("이름: %s 나이:%d" %(name2, age2))

이름: 김민수 나이:10
이름: 이철희 나이:13

In [121]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: {} 나이:{}" .format(name1,age1))
print("이름: {} 나이:{}" .format(name2,age2))

이름: 김민수 나이:10
이름: 이철희 나이:13

In [122]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print(f"이름: {name1} 나이:{age1}" )
print(f"이름: {name2} 나이:{age2}" )

이름: 김민수 나이:10
이름: 이철희 나이:13

In [ ]:
#제거 대신 공백으로 대체할 수 있음

In [129]:
상장주식수 = "5,969,782,550"
컴마제거 = 상장주식수.replace(",","")
정수 = int(컴마제거)
print(정수)

5969782550

In [130]:
분기 = "2020/03(E) (IFRS연결)"
분기[:7]

'2020/03'

In [134]:
data = "   삼성전자    "
data.strip()

'삼성전자'

# 41-50

In [135]:
ticker = "btc_krw"
ticker.upper()

'BTC_KRW'

In [136]:
ticker.lower()

'btc_krw'

In [ ]:
#43 첫문자만 대문자.capitalize()

In [139]:
a='hello'
a.capitalize()

'Hello'

In [ ]:
# 44 endswith 메서드

In [140]:
file_name = "보고서.xlsx"
file_name.endswith('xlsx')

True

In [141]:
file_name = "보고서.xlsx"
file_name.endswith('xls')

False

In [ ]:
#startswith 메서드

In [143]:
file_name.startswith('2020')

False

In [147]:
a = "hello world"
a.split()

['hello', 'world']

In [148]:
ticker = "btc_krw"
ticker.split('_')

['btc', 'krw']

In [149]:
date = "2020-05-01"
date.split('-')

['2020', '05', '01']

In [150]:
data = "039490     "
data.rstrip()

'039490'